#hosting-airbnb {
    font-size: 15px;
}

.host-text {
    font-size: 16px;
}

.host-hint {
    font-size: 15px;
    color: gray;
    font-style: italic;
}

/*finding highlight hover*/
#finding1:hover {
    color: rgb(255, 78, 87);
}
#finding2:hover {
    color: rgb(255,78,87);
}
#see-change:hover {
    color: rgb(255,78,87);
}

.finding:hover {
    fill: rgb(255,78,87);
    color: rgb(255,78,87);
}

p.finding{
    width: 220px;
    border: 1px dashed rgb(3,140,140);
    /*border-style: solid;*/
    /*border-color: whitesmoke;*/
    border-radius: 10px;
    padding: 10px;
}

/******** NYC map area ********/
/*selection box*/
#map-type {
    width:140px;
    height: 30px;
    margin-left:10px;
    background-color: rgba(0, 0, 0, 0.2);
    filter: alpha(opacity=50);
    color: whitesmoke;
}

#ny-map svg{
    fill: darkcyan;
}
.listing {
    fill: lightcoral;
    fill-opacity: 0.7;
}

.viz-title {
    text-anchor: middle;
    fill: #F28D95;
}

.viz-comment {
    /*text-anchor: middle;*/
    fill: #bdbdbd;
    font-size: 12px;
}
#see-change {
    color: #bdbdbd;
    font-size: 12px;
}

#ny-map path {
    stroke: black;
    stroke-opacity: 50%;
}

#ny-map path:hover {
    fill-opacity: 0.8;
}

#ny-map path.borough2:hover {
    fill-opacity: 0;
}

.legendSequential text {
    font-size: 14px;
    fill: rgb(115,191,191);
}

#legendtitle text {
    font-size: 14px;
    fill: rgb(115,191,191);
}

.d3-tip {
    background-color: rgb(165,15,21,0.4);
    color: #fff5f0;
    opacity: 0.3;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
}

.d3-tip h6 {
    margin-bottom: 5px;
}



/*small multiples*/
.axis text {
    fill: whitesmoke;
}

#multiples-title {
    fill: whitesmoke;
    font-size: 18px;
}

.bar-legend text {
    font-size: 14px;
}

/*Circular calendar*/

#week-labels {
    fill: rgb(115,191,191);
}
#month-labels{
    fill: rgb(115,191,191);
}

#circle-legend {
    fill: whitesmoke;
}

.finding {
    fill: whitesmoke;
    font-size: 15px;
}

circle:hover {
    fill-opacity: 90%;
}

