.mega-header {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    opacity:.9;
    color: white;
    font-size: 140px;
    text-align: center;
    font-weight: bold;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-right: 100px;
    display: inline-block;
}


#section-intro{
    background-image: url(../img/intro-cover.jpeg);
    background-size: 100% 100%;
    padding: 0;
}

.section-header {
    font-family: 'Montserrat', sans-serif;
    opacity:.8;
    color: black;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
}

