.mega-header {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    opacity:.9;
    color: white;
    font-size: 140px;
    text-align: center;
    font-weight: bold;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-right: 100px;
    display: inline-block;
    border-radius: 30px;
}


#section-intro{
    background-image: url(../img/intro-cover.jpeg);
    background-size: 100% 100%;
    padding: 0;
}

.story-line { 
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.section-header {
    font-family: 'Montserrat', sans-serif;
    opacity:.8;
    color: black;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 11px;
}

.airbnbLine {
  fill: none;
  stroke: rgb(255,78,87);
  stroke-width: 1.5px;
}

.hotelLine {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
  }