.mega-header {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    opacity:.9;
    color: white;
    font-size: 140px;
    text-align: center;
    font-weight: bold;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-right: 100px;
    display: inline-block;
    border-radius: 30px;
}

#section-intro{
    background-image: url(../img/intro-cover.jpeg);
    background-size: 100% 100%;
    padding: 0;
}

.story-line { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;


}

#company-choropleth{
  width: 80%;
  height: 390px;
  opacity: 1;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

rect:hover {
  opacity: 0.5;
}
.airbnb-introduction { 
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color:white;
  background-color:  rgb(255,78,87);
  border-radius: 3px;
  font-weight: bold;
  padding: 3px;
  margin: 10px;
}

.section-header {
    font-family: 'Montserrat', sans-serif;
    color:white;
    opacity:.8;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 15px;
}

.sub-section-header {
  font-family: 'Montserrat', sans-serif;
  opacity:.8;
  color: white;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  padding-left: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
}

.sub-section-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
  padding-right: 15px;
}

.sub-section-content {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}

.img-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  visibility: hidden;
  margin-left: 100px;
}


.airbnb-hotel-x-axis path{
  stroke: white;
}

.airbnb-hotel-x-axis line{
  stroke: white;
}

.airbnb-hotel-x-axis text{
  fill: white;
}

.airbnb-hotel-y-axis path{
  stroke: white;
}

.airbnb-hotel-y-axis line{
  stroke: white;
}

.airbnb-hotel-y-axis text{
  fill: white;
}

.radialAxis {
    fill: white;
}
.radialAxisText {
    fill: white;
}



.us-city-x-axis text{
  fill: white;
}

.us-city-x-axis .domain{
  stroke: white;
}


.us-city-y-axis text{
  fill: white;
}

.us-city-y-axis .domain{
  stroke: white;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 11px;
}

.airbnbLine {
  fill: none;
  stroke: rgb(255,78,87);
  stroke-width: 2.5px;
}

.homeawayLine {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
    opacity: 0.3;
  }

.hiltonLine {
  fill: none;
  stroke: rgb(201, 157, 14);
  stroke-width: 1.5px;
  opacity: 0.3;
}

.ihgLine {
  fill: none;
  stroke: rgb(40, 66, 181);
  stroke-width: 1.5px;
  opacity: 0.3;
}

.marriottLine {
  fill: none;
  stroke: rgb(90, 147, 208);
  stroke-width: 1.5px;
  opacity: 0.3;
}

.hiltonLine:hover {
  opacity: 1;
}

.ihgLine:hover {
  opacity: 1;
}

.marriottLine:hover {
  opacity: 1;
}

#para-under-multiples {
    padding-top: 30px;
}


#para-under-diff {
    padding-top: 60px;
    padding-right: 30px;
    margin-right: 100px;
}

<<<<<<< HEAD
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}
=======
#take-away {
  background-image: url(../img/Picture1.png);
  background-size: 100% 100%;
  padding: 0;
}

#airbnb-footprint {
  background-image: url(../img/Picture2.png);
  background-size: 100% 100%;
  padding: 0;
}

#eric-emily-title {
  background-image: url(../img/Picture3.png);
  background-size: 100% 100%;
  padding: 0;
}

#travel-boston {
  background-image: url(../img/Picture4.png);
  background-size: 100% 100%;
  padding: 0;
}

#after-travel-boston {
  background-image: url(../img/Picture5.png);
  background-size: 100% 100%;
  padding: 0;
}

#hosting-airbnb {
  background-image: url(../img/Picture6.png);
  background-size: 100% 100%;
  padding: 0;
}

#hosting-airbnb-2 {
  background-image: url(../img/Picture7.png);
  background-size: 100% 100%;
  padding: 0;
}

#eric-concern {
  background-image: url(../img/Picture8.png);
  background-size: 100% 100%;
  padding: 0;
}

#hotel-impact {
  background-image: url(../img/Picture9.png);
  background-size: 100% 100%;
  padding: 0;
}

#hotel-impact-2 {
  background-image: url(../img/Picture10.png);
  background-size: 100% 100%;
  padding: 0;
}

#reference {
  background-image: url(../img/Picture11.png);
  background-size: 100% 100%;
  padding: 0;
}


.text-background{
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity:.8;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
}

hr {
  border-color:white;
}

/*#travel-boston {*/
/*    font-size: 11px;*/
/*}*/

.guest-left {
    font-size: 12px;
}
